<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new User</title>
</head>
<body>

<h2>Добавление нового пользователя</h2>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">

    <label for="username">Enter username</label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="password">Enter password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label for="age">Enter age</label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/>

    <label for="surname">Enter surname</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>

    <label>Права доступа:
        <input type="checkbox" name="roles"
               th:each="role : ${rolesAdd}"
               th:value="${role.id}"
               th:text="${role.role}"
        />
    </label>

    <input type="submit" value="Add"/>
    <a th:href="@{/logout}">LOGOUT</a>

</form>
</body>
</html>

